footer.footer
  div.container
    div.row
      div.cell
        h2.title Lorem ipsum dolor sit amet
        p.subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        div.footer__button
          +button({title: 'SYMU.CO/FREEBIES'})
div.footer-image