section.mobile
  div.container
    div.mobile-decoration
        img.top-img(src="img/snow.png" alt="")
        img.bot-img(src="img/snow_2.png" alt="")
    div.row
      div.mobile__item.cell
        div.mobile-item__img
          img(src="img/screen_1.png" alt="alt")
      div.mobile__item.mobile-item.mobile-item.mobile-item_left.cell
        div.mobile-item__info
          h2.title.title_blue Lorem ipsum dolor
          p.subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.
            | Suspendisse lobortis lectus vel imperdiet ullamcorper.
      div.mobile__item.mobile-item.mobile-item_right.cell
        div.mobile-item__info
          h2.title.title_blue Lorem ipsum dolor
          p.subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.
            | Suspendisse lobortis lectus vel imperdiet ullamcorper.
      div.mobile__item.mobile-item.cell
        div.mobile-item__img.mobile-item__img_img-top
          img(src="img/screen_2.png" alt="alt")