section.service#service
  div.container
    h2.title Lorem ipsum dolor sit amet
    p.subtitle Lorem ipsum dolor, lorem dolor amet
    div.row.advantage
      +advantage-item({
        src: 'img/elem-icon_1.png',
        title: 'Lorem lorem ipsum dolor',
        text: 'Lorem ipsum dolor sit amet, dolor amet set lorem.Lorem ipsum dolor. Lorem ipsum dolor sit amet, dolor amet set lorem.'
      })
      +advantage-item({
        src: 'img/elem-icon_2.png',
        title: 'Lorem lorem ipsum dolor',
        text: 'Lorem ipsum dolor sit amet, dolor amet set lorem.Lorem ipsum dolor. Lorem ipsum dolor sit amet, dolor amet set lorem.'
      })
      +advantage-item({
        src: 'img/elem-icon_3.png',
        title: 'Lorem lorem ipsum dolor',
        text: 'Lorem ipsum dolor sit amet, dolor amet set lorem.Lorem ipsum dolor. Lorem ipsum dolor sit amet, dolor amet set lorem.'
      })
      +advantage-item({
        src: 'img/elem-icon_4.png',
        title: 'Lorem lorem ipsum dolor',
        text: 'Lorem ipsum dolor sit amet, dolor amet set lorem.Lorem ipsum dolor. Lorem ipsum dolor sit amet, dolor amet set lorem.'
      })
    div.advantage__button.cell
      +button({title: 'chek our offer'})