section#contact.team
  div.container
    div.row
      div.person.team__item.cell
        div.person__decoration
          img(src="img/snow_1.png", alt="")
        div.person__photo
          img(src="img/ceo.png" alt="Jhon Doe")
      div.descr.team__item.cell
        div.descr__info
          h2.title.title_red Template is awesome
          p.subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.
            | Suspendisse lobortis lectus vel imperdiet ullamcorper.
          div.member.descr__member
            h3.member__name Jhon Doe
            p.member__position CEO at Crios.com 