.about {
  position: relative;
  background-color: #f7f8fb;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  &__item {
    width: 50%;

    @include if-smaller-than(960px) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.about-info {
  width: 75%;
}

.about-img {
  position: relative;
  min-height: 560px;

  &__photos {
    position: relative;
    height: 100%;

    img {
      position: absolute;
      object-fit: cover;
      top: 0;
      height: 100%;
      width: 50vw;
      opacity: 0;
      transition: opacity 1s;

      @include if-smaller-than(960px) {
        width: 100%;
      }

      &.showed {
        opacity: 1;
      }

      &.showed_n {
        opacity: 1;
      }
    
      &.right {
        left: 0;
      }
    
      &.left {
        right: 0;
      }
    }
  }

  &__buttons {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 0;
    width: 50vw;
    text-align: center;
    display: flex;
    justify-content: space-between;

    @include if-smaller-than(960px) {
      width: 100%;
    }

    span {
      font-size: 50px;
      color: #fff;
      cursor: pointer;
      padding: 20px;

      @include if-smaller-than(500px) {
        font-size: 40px;
        padding: 0
      }
    }
  }
}