.footer {
  background-color: #fff;

  .row {
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 100px;
  }

  &__button {
    text-align: center;
    margin-top: 100px;
  }
}

.footer-image {
  background-image: url(../img/bg-footer.jpg);
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}