.header {
  background-color: #f3f4f6;
  
  .row {
    margin-bottom: 160px;
  }
  &__item {
    @include cell-width(33.333%);

    &_center {
      text-align: center;
      position: relative;
    }

    &_right {
      text-align: right;
    }
  }
}

.block-logo {
  height: 415px;
  width: 415px;
  box-shadow: 0 0 100px rgba($c-main, .1);
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translateY(-50%)  translateX(-50%);
  background-color: #fff;
  position: absolute;
  margin: 0 auto;


  img {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    margin-bottom: 80px;
  }
}

.block-menu {
  display: flex;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  overflow: hidden;
  margin-top: 55px;
}

.menu-nav {
  background-color: #fff;
  height: 60px;
  line-height: 60px;
  padding-right: 20px;
  padding-left: 40px;
  margin-left: -26px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  transition: transform .4s, opacity .4s, background-color .4s;
  transform-origin: left center;
  transform: scaleX(0) translateX(-50%);
  opacity: 0;

  &__link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    margin-right: 20px;
    border-bottom-color: transparent;
    transition: color .4s;

    .menu-nav_active & {
      color: #fff;
    }

    &:hover {
      text-shadow: 0 0 10px;
    }
  }

  &#{$active} {
    transform: scaleX(1) translateX(0);
    opacity: 1;
    background-color: $c-main;
  }
}

.menu-btn {
  z-index: 1;
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  transition: background-color .4s, border-color .4s;
  border: 1px solid rgba($c-main, .2);
  flex-shrink: 0;

  &:hover {
    background-color: $c-main;
    border-color: $c-main;

    span,
    span::before,
    span::after {
      background-color: #fff;
    }
  }

  span,
  span::before,
  span::after {
    position: absolute;
    height: 2px;
    width: 20px;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    background-color: #222;
    transition: background-color .4s, transform .4s;;
  }

  span::before,
  span::after {
    content: '';
    display: block;
  }

  span::before {
    transform: translateY(-5px);
  }

  span::after {
    transform: translateY(5px);
  }

  &#{$active} {
    background-color: $c-main;
    border-right-color: #fff;

    span {
      height: 0;
    }

    span::before {
      transform: rotate(45deg);
      background-color: #fff;
    }

    span::after {
      transform: rotate(-45deg);
      background-color: #fff;
    }
  }
}

.block-search {
  display: flex;
  justify-content: flex-end;
  margin-top: 55px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}

.search-btn {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #000;
  flex-shrink: 0;
  z-index: 1;
  transition: background-color .4s, border-color .4s, color .4s, opacity .4s;
  border: 1px solid rgba($c-main, .2);
  color: #222;
  position: relative;

    .icon-search {
      position: relative;
      opacity: 1;
    }

    .icon-cancel {
      position: absolute;
      text-align: center;
      line-height: 60px;
      font-size: 14px;
      opacity: 0;
    }

  &#{$active} {
    background-color: $c-main;
    border-color: $c-main;
    border-left-color: #fff;
    color: #fff;

      .icon-search {
        opacity: 0;
      }

      .icon-cancel {
        opacity: 1;
      }
  }

  &:hover {
    background-color: $c-main;
    border-color: $c-main;
    color: #fff;
  }
}

.search-input {
  border: none;
  color: #fff;
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: -25px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  transform-origin: right center;
  transform: scaleX(0) translateX(50%);
  opacity: 0;
  transition: transform .4s, opacity .4s, background-color .4s;

  &#{$active} {
    transform: scaleX(1) translateX(0);
    opacity: 1;
    background-color: $c-main;
  }

  input {
    outline: none;
    height: 30px;
    border-radius: 30px;
    border-color: transparent;
    padding-left: 10px;
    color: $c-main;
  }

  button {
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
    border-radius: 30px;
    outline: none;
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
  }
}

.header-img {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

  &__button {
    text-align: center;
    padding-top: 85px;
  }
}





